/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

$dark-white: #F9F9F9;
$linen: #F8F3ED;
$lightest-grey: #F7F7F5;
$lighter-grey: #F0F0F0;
$light-grey: #C0C0C0;
$darker-grey: #797979;
$darkest-grey: #353535;
$charcoal: #202020;

$orange: #F56400;
$darker-orange: #DA552F;

$dark-red: #C23030;
$light-red: #F1DBDD;

$background: #F5F5F1;

$react-rater-link: #ccc !default;   // color of star not rated
$react-rater-hover: #666 !default;  // color of star on hover
$react-rater-active: #000 !default; // color of star rated

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-left: 0px;

}

body ul {
  list-style: none;
  padding-left: 0px;
  // overflow: auto;
}

body a {
  text-decoration: none;
}

body select {
  display: block;
  padding: 10px 70px 10px 13px !important;
  max-width: 100%; height: auto !important;
  border: 1px solid $light-grey;
  border-radius: 3px;
  background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat;
  background-color: #fff;
  color: #444444;
  font-size: 12px;
  line-height: 16px !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

// @import "css_reset"; // 1
@import "navbar"; // 2
@import "splash"; // 3
@import "session_form"; // 4
@import "filters";  // 5
@import "item_show";  // 6
@import "reviews"; // 7
@import "cart"; // 8
@import "cart_items"; // 9


.primary {
  background-color: $darker-orange !important;
  color: white !important;
  border-radius: 4px !important;
}

.primary:hover {
  background-color: $orange !important;
}

.secondary {
  color: $darker-orange !important;
  border-radius: 4px !important;
}

.footer {
  border-top: 1px solid $light-grey;
  font-size: 16px;
  padding: 0.8rem;
  text-align: center;
  color: $darker-grey;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
}

.my-info {
  display: flex;
  justify-content: center;
  color: $darker-orange;
}
