.item-background {
  display: flex;
  justify-content: center;
  background-color: $background;
  padding-top: 50px;
}

.item-show {
  width: 1000px;
  color: $darkest-gray;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.item-top {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  padding: 30px;
}

.item-image {
  width: 55%;
  overflow: hidden;
}

.item-image > img {
  width: 100%;
  height: auto;
}

.item-detail {
  width: 40%;
  padding: 0px 20px 0px 40px;
}

.item-detail li {
  display: flex;
  list-style-type: none;
}

.item-detail li span {
  margin-right: 8px;
}

.item-detail h2 {
  font-size: 24px;
}
