.navbar {
  background-color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-left > div {
  margin-right: 20px;
  margin-left: 20px;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -7px 0px 0px 0px;
}

.navbar-right h4 {
  color: $darker-grey;
  margin: 5px;
}

.navbar-right button {
  margin: auto;
}

.title {
  // font-family: sans-serif !important;
  color: $darker-orange !important;
  cursor: pointer !important;
  font-size: 35px !important;
}
