// reviews
.review-section {

}

.review-header {
  padding: 30px;
}

.review-header > span {
  font-size: 24px;
  margin-right: 5px;
}

.review-header > p {
  margin-left: 5px;
}

.review-items {

}



// stars
.react-rater {
  display: inline-block;
  line-height: normal;
}

.react-rater a {
  cursor: pointer;
  color: #ccc;
  position: relative;
}

.react-rater a.will-be-active {
  color: #ffdd99;
}

.react-rater a.is-active {
  color: #fc6;
}

.react-rater a.is-active-half:before {
  color: #fc6;
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.react-rater a.is-disabled {
  cursor: default;
}
