// reviews
.review-section {

}

.review-header {
  padding: 30px;
}

.review-header > span {
  font-size: 24px;
  margin-right: 5px;
}

.review-header > p {
  margin-left: 5px;
}

.review-items {

}

.single-review {
  padding: 0px 30px 0px 30px;
}

.review-content {
  width: 100%;
  display: flex;
}

.reviewer {
  width: 20%;
  height: 100%;
}

.reviewer > p {
  padding-left: 30px;
}

.reviewed-by {
  color: $darker-gray;
}

.review-right {
  width: 80%;
  height: auto;
  padding-right: 30px;
}

.review-rating-date {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.review-rating-date > span {
  color: $darker-gray;
}

.review-body {
  width: 75%;
  height: 60%;
}

// stars
.react-rater {
  display: inline-block;
  line-height: normal;
}

.react-rater a {
  cursor: pointer;
  color: #ccc;
  position: relative;
}

.react-rater a.will-be-active {
  color: #ffdd99;
}

.react-rater a.is-active {
  color: #fc6;
}

.react-rater a.is-active-half:before {
  color: #fc6;
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.react-rater a.is-disabled {
  cursor: default;
}
