// review form in cart index page
.review-description {
  font-size: 16px;
}

.review-description > textarea {
  border: 1px solid #e1e3df;
  border-radius: 4px;
  width: 210px;
  height: 51px;
  padding: 10px;
  margin-bottom: 0px;
  font-size: 12px;
}

.review-rating {
  padding-bottom: 18px;
  font-size: 16px;
}

// reviews in item show page
.review-section {

}

.review-header {
  padding: 30px;
}

.review-header > span {
  font-size: 24px;
  margin-right: 5px;
}

.review-header > p {
  margin-left: 5px;
}

.review-items {

}

.single-review {
  padding: 0px 30px 0px 30px;
}

.review-content {
  width: 100%;
  display: flex;
}

.reviewer {
  width: 20%;
  height: 100%;
}

.reviewer > p {
  padding-left: 30px;
}

.reviewed-by {
  color: $darker-grey;
}

.review-right {
  width: 80%;
  height: auto;
  padding-right: 30px;
}

.review-rating-date {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.review-rating-date > span {
  color: $darker-grey;
}

.review-body {
  width: 75%;
  height: 60%;
}

.submit-review {
  color: $darker-orange;
  padding: 10px 0px 10px 0px;
  margin: 0px;
  font-size: 16px;
}

.submit-review:hover {
  color: $orange;
  cursor: pointer;
  // background-color: $lightest-grey;
}

// stars
.react-rater {
  display: inline-block;
  line-height: normal;
}

.react-rater a {
  cursor: pointer;
  color: #ccc;
  position: relative;
}

.react-rater a.will-be-active {
  color: #ffdd99;
}

.react-rater a.is-active {
  color: #fc6;
}

.react-rater a.is-active-half:before {
  color: #fc6;
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.react-rater a.is-disabled {
  cursor: default;
}
