.form-header {
 color: $darkest-grey !important;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
}


.login-form-container > .x-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: $linen;
}

.x-button > button {
  border: none;
  background-color: white;
  font-size: 20px;
  display: flex-start;
  color: $darker-grey;
}

.x-button > button:hover {
  cursor: pointer;
  color: $darkest-grey;
}

.login-form-box > h3 {
  color: $darkest-grey;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.login-form-box > h3 {
  width: auto;
  display: block;
  text-align: center;
}

.login-form-box > ul {
  font-size: 12px;
  color: $dark-red;
  margin: 10px 30px 10px 30px
}

.login-form {
  margin: 10px 40px 10px 40px;
}

.login-form label,
.login-form input {
  margin-bottom: 15px;
  width: 260px;

  color: $darker-grey;
}

.login-form button {
  width: 260px;
  margin: 15px 0px;
  text-align: center;
  cursor: pointer;
  border: 2px solid $darker-grey;

  font-size: 11px;
  background-color: $lighter-grey;
  color: black;
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 2px;
}

.login-form button:hover {
  background-color: $light-grey;
  color: $darkest-grey;
}

.login-form button,
.login-form input {
  border: none;
  padding: 10px 0px;

}

.login-form input {
  border-bottom: 2px $light-grey solid;
  background-color: white;
  color: $darker-grey;
  font-size: 14px;
  padding: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.login-form input:focus {
  outline: none;
  border-bottom: 2px $darkest-grey solid;
  box-shadow: rgba(0, 0, 0, 0);
}

::-webkit-input-placeholder {
  color: $darker-grey;
  font-size: 16px
}

.login-form p,
.login-form a {
  display: block;
  font-size: 12px;
  text-align: center;
  margin: 10px 0px;

  color: $darker-grey;
}

.login-form a > p:hover {
  color: black;
}

.login-input {
  width: 100% !important;
}
