.hero-image {
  background-image: url("splash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 700px;
}

.hero-text {
  color: $charcoal;
  text-align: center;
  font-family: $raleway;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px 0px;
  overflow: hidden;
}

.hero-text > h1 {
  font-size: 35px;
  margin: 30px 0px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 6px;

}

.hero-text > h4 {
  font-size: 28px;
  margin: 30px 0px;
}

.hero-text button {
  padding: 10px;
  // border: 2px solid $charcoal;
  background: rgba(255, 255, 255, 0.15);
  font-family: sans-serif;
  font-size: 11px;
  width: 120px;
  height: 36px;
  cursor: pointer;
  background-color: $charcoal;
  color: $linen;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
}

.hero-text > button:hover,
.foot-right a:hover {
  background-color: $darkest-gray;
  color: $linen;
  cursor: pointer;

  border-radius: 2px;

}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -99;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}


@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

// @media (min-aspect-ratio: 16/9) {
//   .back-video {
//     height: 300%;
//     top: -100%;
//   }
// }

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: 300%;
    left: -100%;
  }
}
